
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body style="position: relative; height: auto; width: auto; margin: 0 auto;">
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
    <div id="ca">
    <h3 style="margin-top: 20px;">Mission Statement</h3>
    <blockquote style="margin-top: 30px; width: 60%; position: relative; margin: 30px auto;"><i>"You become much more talented once you stop believeing in talent and start believing in self-discipline"</i>&nbsp;&nbsp;<cite>-Anonymous</cite></blockquote>    
    <br>
    
    <p>Not here to survive, but to thrive.</p>
</div>
   
    
</body>
<%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>
